<ion-view view-title="FeedDetails" hide-nav-bar="true">
    	<ion-content>
    		<div class="comment-detail-main">
    			<div class="feed-comment-icon-container">
	            <div class="vote-comment-details">
	                <a href="#" class="subdued ion-ios-heart vote-details-icon"></a> 10
	            </div>

	            <div class="clear"></div>
		        </div>

		        <div class="list">
		        	<div class="comment-item">
		        		<div class="comment-avatar">
		        			<img src="img/mike.png">
		        		</div>
		        		<div class="comment-infor">
		        			<div class="comment-infor-name">Ngoc Hung</div>
		        			<div class="comment-infor-content">dep the :))</div>
		        			<div class="comment-infor-button">
		        				<span style="margin-right:15px;">1 hour ago</span>
		        				<span style="color:blue;margin-right:15px;"> . Like</span>
		        				<span style="color:blue;"> . Reply</span>
		        			</div>
		        		</div>
		        		<div class="clear"></div>
		        	</div>

		        	<div class="comment-item">
		        		<div class="comment-avatar">
		        			<img src="img/perry.png">
		        		</div>
		        		<div class="comment-infor">
		        			<div class="comment-infor-name">Ngoc Hung</div>
		        			<div class="comment-infor-content">dep vch :))</div>
		        			<div class="comment-infor-button">
		        				<span style="margin-right:15px;">2 hour ago</span>
		        				<span style="color:blue;margin-right:15px;"> . Like</span>
		        				<span style="color:blue;"> . Reply</span>
		        			</div>
		        		</div>
		        		<div class="clear"></div>
		        	</div>

		        	<div class="comment-item">
		        		<div class="comment-avatar">
		        			<img src="img/ben.png">
		        		</div>
		        		<div class="comment-infor">
		        			<div class="comment-infor-name">Ha Phan</div>
		        			<div class="comment-infor-content">Great!</div>
		        			<div class="comment-infor-button">
		        				<span style="margin-right:15px;">5 hour ago</span>
		        				<span style="color:blue;margin-right:15px;"> . Like</span>
		        				<span style="color:blue;"> . Reply</span>
		        			</div>
		        		</div>
		        		<div class="clear"></div>
		        	</div>
				</div>

				<ion-footer-bar align-title="left" class="footer footer-comment">
		        	<div class="list list-inset comment-form">
						<label class="item item-input">
						    <i class="icon ion-ios-camera placeholder-icon"></i>
						    <input type="text" placeholder="Write a comment..." class="comment-input">
						    <!-- <i class="icon ion-android-happy placeholder-icon"></i> -->
						</label>
					</div>
		        </ion-footer-bar>
    		</div>
	  		
    	</ion-content>
</ion-view>
