<ion-header-bar class="bar-light header-bar">
  <h1 class="title">Create Account</h1>
  <div class="buttons">
    <button class="button button-icon ion-compose ion-ios-close-outline" ng-click="hidePopup();"></button>
  </div>
</ion-header-bar>

<div class="infor">
  <span>Sign in with your email to see the amazing new things you've miss</span>
</div>
<div>
  <div class="email-container">
    <label class="item-input-wrapper">
      <input type="text" placeholder="name" class="email">
    </label>
    
  </div>
  <div class="email-container">
   <label class="item-input-wrapper">
      <input type="text" placeholder="email" class="email">
    </label>
    
  </div>

  <div class="password-container">
   <label class="item-input-wrapper">
      <input type="text" placeholder="password" class="email">
      <i class="icon ion-ios-eye placeholder-icon"></i>
    </label>
    
  </div>

  <div class="password-container">
   <label class="item-input-wrapper">
      <input type="text" placeholder="confirm password" class="email">
      <i class="icon ion-ios-eye placeholder-icon"></i>
    </label>
    
  </div>

  <div class="button-signup">
    <button class="button-signin button button-positive ">
      Sign up
    </button>
  </div>
</div>
