<ion-header-bar class="bar-light header-bar">
  <h1 class="title">Reset your password</h1>
  <div class="buttons">
    <button class="button button-icon ion-compose ion-ios-close-outline" ng-click="hideResetPopup();"></button>
  </div>
</ion-header-bar>

<div class="infor">
  <span>Please enter your email address and we'll send you an email to reset your password</span>
</div>
<div>
  <div class="email-container">
    <label class="item-input-wrapper">
      <input type="text" placeholder="email address" class="email">
    </label>
    
  </div>

  <div class="reset-button">
    <button class="button-signin button button-positive ">
      Reset Password
    </button>
  </div>
</div>
